<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563180818229-p30it7fb924vab4c52jvc1skduac7nct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563180818229-p30it7fb924vab4c52jvc1skduac7nct</string>
	<key>API_KEY</key>
	<string>AIzaSyDKrHy7ueve_Yvq1yePuysFtZYWogModO4</string>
	<key>GCM_SENDER_ID</key>
	<string>563180818229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.bsu.bakhar.coursework</string>
	<key>PROJECT_ID</key>
	<string>bookspot-4cacf</string>
	<key>STORAGE_BUCKET</key>
	<string>bookspot-4cacf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563180818229:ios:d5bed0a89679be468e467c</string>
</dict>
</plist>